section.hi-mention-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

section.hi-mention-body,
section.hi-mention-body * {
  box-sizing: border-box;
}

section.hi-mention-body > div.hi-mention-editor {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  outline: none;
  padding: 0;
  margin: 0;
}
/* 设置滚动条宽度为0 */
section.hi-mention-body > div.hi-mention-editor::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* 设置滚动条轨道的样式 */
section.hi-mention-body > div.hi-mention-editor::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 设置滚动条滑块的样式 */
section.hi-mention-body > div.hi-mention-editor::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}
/* 设置滚动条滑块在鼠标悬停时的样式 */
section.hi-mention-body > div.hi-mention-editor::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

div.hi-mention-user-list {
  position: absolute;
  background-color: #fff;
  padding: 2px 5px;
  border: 1px solid #eee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 4px;
  width: var(--hi-mention-user-list-width);
  max-height: var(--hi-mention-user-list-height);
  overflow-y: auto;
  z-index: 999;
  display: none;
}

div.hi-mention-user-list.h5 {
  width: 100%;
}

div.hi-mention-user-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 设置滚动条轨道的样式 */
div.hi-mention-user-list::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
/* 设置滚动条滑块的样式 */
div.hi-mention-user-list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}
/* 设置滚动条滑块在鼠标悬停时的样式 */
div.hi-mention-user-list::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

div.hi-mention-user-list > div.hi-mention-user-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 2px;
  cursor: pointer;
}

div.hi-mention-user-list > div.hi-mention-user-item:hover {
  background-color: #f5f5f5;
}
div.hi-mention-user-list
  > div.hi-mention-user-item
  > div.hi-mention-user-item-left {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

div.hi-mention-user-list
  > div.hi-mention-user-item
  > div.hi-mention-user-item-left
  > img {
  max-width: 100%;
  max-height: 100%;
}
div.hi-mention-user-list
  > div.hi-mention-user-item
  > div.hi-mention-user-item-right {
  width: calc(100% - 34px);
  font-size: 14px;
  /* 文本不换行，溢出隐藏 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.hi-mention-body > div.hi-mention-placeholder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
