section.hi-voucher-message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: auto;
  z-index: 9999;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hi-voucher-message-box-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 20px;
  }

  .hi-voucher-message-box-message {
    font-size: 14px;
    color: #888;
    padding: 20px;
  }

  .hi-voucher-message-box-button-body {
    width: 100%;
    display: flex;
    height: 41px;
    border-top: 1px solid #ccc;
    line-height: 40px;
    cursor: pointer;
  }

  .hi-voucher-message-box-cancel-button {
    width: 50%;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .hi-voucher-message-box-confirm-button {
    width: 50%;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #f5f5f5;
    }
  }

}